.TodoItem{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 24px;
    color : #4d4d4d;
    padding : 15px 6px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    position: relative;
}
.TodoItem:hover .remove{
    opacity: 1;
}
.TodoItem .remove{
    position:  absolute;
    right :16px;
    top:50%;
    transform: translateY(-50%);
    color :red;
    padding: 6px 10px;
    opacity: 0;
    transition: opacity 0.2s ease;
    cursor: pointer;
}
.TodoItem:last-child {
    border-bottom : none
}
.TodoItem-complete >p{
    text-decoration: line-through;
    opacity: .3;
}
.TodoItem > p {
    margin : 0 0 0 20px
}